/************************************************/
/*                                              */
/*            Netflix Theme Overrides           */
/*                                              */
/************************************************/

/*-----------------------------
             Footer
------------------------------*/

.login-portal.layout .footer .ui.text.menu .item#terms-of-service {
  font-size: 0;
  visibility: hidden;
}
  
.login-portal.layout .footer .ui.text.menu .item#terms-of-service:after {
  content: 'Legal Notice';
  visibility: visible;
  font-size: 14px;
}

.login-portal.layout .center-segment>.ui.container>.ui.segment .segment-form .ui.secondary.button#registerLink {
  background: transparent;
  color: #007bbc;
}

.login-portal.layout .page-wrapper.layout-file .center-segment .footer:after {
  content: 'Custom Text';
}
