/************************************************/
/*                                              */
/*            Netflix Theme Overrides           */
/*                                              */
/************************************************/

/*-----------------------------
       Page Background
------------------------------*/

.login-portal.layout {
    background-image: url(https://cdn.statically.io/gh/brionmario/asgardeo-branding/netflix/images/bg-overlay.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-portal.layout .page-wrapper {
    background: rgb(0 0 0 / 77%);
}

.login-portal.layout .center-segment .product-logo img {
    top: 30px;
    position: absolute;
    left: 30px;
}

.login-portal.layout .page-wrapper.layout-file .center-segment>.ui.container>.ui.segment .ui.header:first-child {
    text-align: left;
}
