/************************************************/
/*                                              */
/*        Asgardeo Theme Default Values         */
/*                                              */
/************************************************/

:root {
    --primaryColor: #ff7300;
    --primaryColorDarker: #d96200;
    --backgroundColor: radial-gradient(circle at 50% 50%,rgba(243,115,33,.21836485) 0,rgba(245,246,246,.38559174) 35%,#f5f6f6 100%),radial-gradient(circle at 50% 50%,rgba(144,37,142,.12343312) 0,rgba(245,246,246,.38559174) 47%,#f5f6f6 100%);
    --borderColor: #dcdcdc;
    --borderRadius: 12px;
}

/*-----------------------------
       Page Background
------------------------------*/

/* Default Page */
.login-portal.layout {
    background: var(--backgroundColor);
}

/* Default Page with Blurred Patch */
.login-portal.layout .page-wrapper {
    background: var(--backgroundColor);
}

/* Error, Success Pages */
.login-portal.layout .page-wrapper.success-page, .login-portal.layout .page-wrapper.error-page {
    background: var(--backgroundColor);
}

/*-----------------------------
            Logo
------------------------------*/

/* Logo */
.login-portal.layout .center-segment .portal-logo img {
    margin-bottom: 1em;
    max-width: 100px;
}

/*-----------------------------
          Buttons
------------------------------*/

/* Buttons */
.ui.primary.button {
    background: var(--primaryColor) !important;
    color: #ffffff !important;
}

/*-----------------------------
           Login Box
------------------------------*/

/* Login Box */
.login-portal.layout .center-segment>.ui.container>.ui.segment {
    border-radius: var(--borderRadius);
    padding-bottom: 1.8em;
    box-shadow: 3px 6px 8px 2px rgb(0 0 0 / 20%);
}

/* Login Box Links */
.login-portal.layout .clickable-link {
    color: var(--primaryColor);
}

/* Login Box Link Button */
.login-portal.layout .segment-form .ui.large.fluid.button.link-button {
    background: transparent;
    color: var(--primaryColor);
}

/*-----------------------------
           Login Box
------------------------------*/

/* Footer */
.login-portal.layout .footer {
    border-top: 1px solid var(--borderColor);
}

/*-----------------------------
        Anchor Tags
------------------------------*/

/* Anchor Tags */
a {
    color: var(--primaryColor);
}

a:hover {
    color: var(--primaryColorDarker) !important;
}

/*-----------------------------
    Cookie Consent Banner
------------------------------*/

.ui.segment.cookie-consent-banner.inverted {
    background: #212a32;
    border: none;
}
